<p class="formText">{{text}}</p>
<form *ngIf="student || type === 'add'" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput type="text" formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <mat-select formControlName="age">
        <mat-option value="16">16</mat-option>
        <mat-option value="17">17</mat-option>
        <mat-option value="18">18</mat-option>
        <mat-option value="19">19</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="21">21</mat-option>
        <mat-option value="22">22</mat-option>
        <mat-option value="23">23</mat-option>
        <mat-option value="24">24</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="26">26</mat-option>
        <mat-option value="27">27</mat-option>
        <mat-option value="28">28</mat-option>
        <mat-option value="28">29</mat-option>
        <mat-option value="30">30</mat-option>
        <mat-option value="31">31</mat-option>
        <mat-option value="32">32</mat-option>
        <mat-option value="33">33</mat-option>
        <mat-option value="34">34</mat-option>
        <mat-option value="35">35</mat-option>
        <mat-option value="36">36</mat-option>
        <mat-option value="37">37</mat-option>
        <mat-option value="38">38</mat-option>
        <mat-option value="39">39</mat-option>
        <mat-option value="40">40</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Note</mat-label>
      <textarea matInput type="text" formControlName="note"></textarea>
    </mat-form-field>
  </div>
  <div class="buttonContainer">
    <button class="submitButton" type="submit" mat-flat-button [disabled]="!profileForm.valid">Submit</button>
    <button class="cancelButton" mat-flat-button (click)="goBack()">Cancel</button>
  </div>
</form>
<p class="errorMessage">
  {{ errorMessage}}
</p>

<p class="noStudentText" *ngIf="!student && type === 'edit'">
  There is no such a student
</p>
<div class="noStudentButton">
  <button *ngIf="!student && type === 'edit'" class="cancelButton" mat-flat-button (click)="goBack()">Go Back</button>
</div>

