/*
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ebfffd;
}

*/

table {
  width: 100%;
}

th {
  background-color: #90b8e0;
  color: white;
  font-size: larger;
}


tr:hover {
  background-color: #ebebeb;
}


#addButton{
  background-color: #90b8e0;
  color: white;
  font-size: larger;
  margin: 30px;
  padding: 15px;
  border-radius: 12px;
}

.mat-icon{
  color: #ff6969;
  transform: scale(1.5);
}


.deleteColumn{
  text-align: center;
}
